<!-- libreria iconos -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
    <div class="row">
       
    <div id="banner" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div> 
            <img [src]="miPortfolio.backimagen"  style="z-index: -3; position: relative;">
            
        </div>
    
        <button type="button" class="btn btn-default btn-xs"></button>
    

    </div>
</div>
</div>